#game_page {
    display: inline-flex;
    width: 100%;
    height: 400px;
    justify-content: space-between;
    margin: 1%;
}

#game_status {
    width: 15%;
}

#lifesLeftDiv {
    display: inline-flex;
    width: 100%;
}

#lifesLeftDiv img {
    width: 20%;
}

/* #game {
    position: relative;
    width: 50%;
    border: 1px;
} */

/* .canvas {
    position: absolute;
    width: 100%;
    object-fit: contain;
    width: 100%;
    height: 100%;
} */

#game_setting {
    display: flex;
    flex-direction: column;
}

.gameSettingDisplay {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}


.generalSettingContainer,
.ballColorContainer,
.keysContainer {
    display: inline-flex;
    justify-content: space-between;
}

#game_page h3,
h4 {
    margin: 0 0;
    padding: 0 0;
}

#game_page input {
    background-color: #93dfff;
    border: 0;
    width: 85px;
    cursor: context-menu;
    padding: 0px 0px;
    margin: 0px 0px;
    color: #036e9d;
}

#game_page input:focus {
    outline: none;
}

.MonsterContainer input {
    width: 40px !important;
    height: 40px;
    display: none;
}

.MonsterContainer {
    display: inline-flex;
}

#game_page label {
    font-weight: bold;
}

#game_status label,
input {
    font-size: large;
}

#game_setting label,
input {
    font-size: medium;
}

.generalSettingContainer input {
    width: 50px !important;
    text-align: center;
}

.ballColorContainer input {
    width: 50px !important;
    height: 20px !important;
    margin-bottom: 1px !important;
}